/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/indigo-pink.css";
html,
body {
    font-family: 'Roboto', sans-serif;
    height: 100%;
}

body {
    margin: 0;
}

.mk-form {
    max-width: 600px;
    padding: 20px;
    border: 1px solid #ddd;
    margin: 40px auto;
}

.mk-form mat-form-field {
    display: block;
}

.mk-btn-bottom {
    margin-top: 30px !important;
    display: table !important;
}

.container {
    max-width: 800px;
    margin: 0 auto;
}
